<div class="justify-content-md-between align-items-md-center">
    <div class="row row align-items-center">
        <div class="col-sm-10 justify-content-md-between">
            <span class="me-1 fw-bold h8 descripcion-nivel">{{perfil?.dscDescripcion}}:</span>
            <span class="text-decoration-underline">{{datosUsuario?.dscNombre}}</span>
            <span>({{datosUsuario?.dscExp}})</span>
        </div>
        <div class="col-sm-2 fw-bold h7 ">
            <div>
                {{fecha | date:'EEEE, d MMMM, y' | titlecase}}
           </div>
        </div>
    </div>
</div>